@import (normalize.css);
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic');
html {
	font-size: 62.5%;
	color: white;
	font-family: Arimo, sans-serif;
	box-sizing: border-box;
}
body {
	width:96rem;
	margin: 0 auto;
}
main {
	font-size: 1.6rem;
	max-width: 90%;
	min-width: 30%;
	margin: 0 auto;
	padding:2.5rem;
	display: flex;
	justify-content: space-around;
	/*background-color:#4BF997;*/
	background: linear-gradient(90deg, #645897, #fab397);
}
main div {
	margin: 3rem;
	margin-top: 2.5rem;
	width: 40%;
}
.wrapper {
	background-color: rgba(0,0,0,.25);
	box-shadow: 0 0 -1px rgba(0,0,0,0.5);
	border-radius: .5rem;
}
.wrapper div {
	width: 75%;
	padding-bottom: 3rem;
}
.wrapper div:last-child {
	padding-bottom: 0;
}
.wrapper div:first-child {
	border-bottom: 1px #C8C8C8 solid;
}
input select {

}
input {
	border:none;
	box-shadow: 0 0 -1px rgba(0,0,0,0.5);
	background: white;
	border-radius: .5rem;	
	width: 20rem;
}
select {
	margin-bottom: 1rem;
	border-radius: .5rem;
	width: 27rem;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
}
body #dss p {
	color: black;
}
.text {
	visibility: hidden;
}